
{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Modifier un évènement</h1>
    <a href="{{ path('event_index') }}"><i class="fas fa-chevron-circle-left fa-3x"></i></a>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}


    {% include "event/_mail.html.twig" %}

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
