
{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}

    <h1 class="text-center">Créer un nouvel événement</h1>

                <a href="{{ path('event_index') }}"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
                {{ include('event/_form.html.twig') }}

{% endblock %}
