{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid homeAdmin bg-snow pTop carte_home">
        {#<div class="row justify-content-center">#}
            {#<h2 class="mb-5 mt-1">Panneau d'administration</h2>#}
        {#</div>#}
        <div class="row justify-content-around">
            <div class="col-lg-2">
                <div class="card">
                    <div class="text-center img-fa">
                        <div class="row">
                            <span class="badge badge-pill badge-info badgeAdmin"></span>
                        </div>
                        <div class="row justify-content-center">
                            <i class="fas fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">Compagnies</h5>
                        <p class="card-text text-center">Voir l'ensembles des startups et entreprises</p>
                        <div class="text-center">
                            <a href="/company" class="btn btn-primary">Gérer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="text-center img-fa">
                        <div class="row">
                            <span class="badge badge-pill badge-info badgeAdmin"></span>
                        </div>
                        <div class="row justify-content-center">
                            <i class="fas fa-glass-cheers"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">événements</h5>
                        <p class="card-text text-center font-weight-bold">Administrer les événements</p>
                        <div class="text-center">
                            <a href="/event" class="btn btn-primary">Gérer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 row d-flex flex-column mr110 m-t70">
                <div class=" rond-bleu ">
                    <div id="outer" class="dear snow">
                        <div id="deerhead"></div>
                        <div id="deernose"></div>
                        <div id="lefthorn"></div>
                        <div id="righthorn"></div>
                        <div id="leftear"></div>
                        <div id="rightear"></div>
                        <div id="lefteye"></div>
                        <div id="righteye"></div>
                        <div id="nose"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="text-center img-fa">
                        <div class="row">
                            <span class="badge badge-pill badge-info badgeAdmin"></span>
                        </div>
                        <div class="row justify-content-center">
                            <i class="fas fa-handshake"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">Contacts</h5>
                        <p class="card-text text-center">Administrer les différents profils de personnes</p>
                        <div class="text-center">
                            <a href="/contact" class="btn btn-primary">Gérer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="text-center img-fa"><i class="fas fa-trophy"></i></div>
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">Description des LaboCoins</h5>
                        <p class="card-text text-center">Explications sur le principe des Labocoins et du principe d'échange</p>
                        <div class="text-center">
                            <a href="/labocoin" class="btn btn-primary">C'est parti</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
