@import "../../node_modules/bootswatch/dist/lux/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/lux/bootswatch";
@import "banner.css";
@import "dear.css";

.bg-snow{
    background-image: url("../images/snow.png");
    background-size: cover;
    min-height: 600px;
}
.red{
    color: #ec3338 !important;
}
.bgred{
    color: #ec3338 !important;
}
textarea{
    min-height: 150px;
}
.green{
    color: #4BBF73;
}
.pTop{
    padding-top: 35px;

}

.btn{
    max-height: 50px;
    margin-top: 30px;
}
h1 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
body{
    outline: none !important;
}
//.event_list {
//    table {
//        th {
//            font-weight: bold;
//            color : black;
//        }
//    }
//}

//.button_new {
//    border-radius: 0.5em;
//    color : #462DF7;
//    a {
//        text-decoration: none;
//        &:hover{
//            color : white;
//        }
//    }
//}
label{
    font-size: 1.2em;
    padding-left : 10%;
    white-space : nowrap;
    color : grey;
}
input{
    padding-left : 10%;
}

.fa-chevron-circle-left {
    margin-left: 10%;
    color :  #ec3338;
    padding-top: 50px;
}

.form_event {
    padding-bottom: 4%;
}



/*upload image*/

#event_pictureFile_file {
    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 0px;
        height: 50px;
        opacity: 0;
        margin-bottom: 50px;
    }
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: transparent;
    box-shadow: transparent;
}

.vich-image .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.8125rem + 0);
    margin-bottom: 50px;
}

.custom-file-label {
    background-color: #ec3338;
    text-align: center;
    height: 45px;
}

@media (max-width: 576px) {
    .custom-file-label {
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.custom-file-label::after {
    background-color: #ec272c !important;
    color: white !important;
    content: "Parcourir...";
}

.button-save {
    min-width: 150px;
    background-color: black;
    color: white;
}
.sphere{
    background: radial-gradient(circle at 100px 100px, transparent, rgba(114, 137, 175,1));
    border-radius: 50%;
    width: 300px;
    height: 300px;

}
.preview-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: contain;
    opacity: 0.7;
}

.title-form {
    padding-right: 6vw;
    margin-bottom: 5vh;
}

.prep-color {
    background-color: #ec272c !important;
    color: white !important;
}

.color-input {
    background-color: white;
}
.size-input{
    min-width: 500px;
}

.invalid-feedback {
    margin-bottom: 2vh;
    font-weight: bold;
}
.custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: 0.75rem;
    background-image: none;
    min-width: 260px;
}

/*snow*/
.snowBall{
    width: 100%;
    background-image:
            url('https://4.bp.blogspot.com/-RGdg1HwjcN0/V0MfveH5tnI/AAAAAAAAV9U/JuZAFpkJmHkhrLHTY3Nzt--f1_D4QUDRACLcB/s1600/s1.png'),
            url('https://3.bp.blogspot.com/-lLYG_aPYaWI/V0MfvZui2cI/AAAAAAAAV9Q/ivLLay21G6IKLLGEI-bHgpzmPRHFubhwgCLcB/s1600/s2.png'),
            url('https://3.bp.blogspot.com/-mPW9Z5fvV5w/V0MfvZ1kmnI/AAAAAAAAV9Y/qU7_F2J0XP4bXNi3rIyV55Y1z9RyTRoqQCLcB/s1600/s3.png');

    z-index:1;
    -webkit-animation: snow 6s linear infinite;
    -moz-animation: snow 6s linear infinite;
    -ms-animation: snow 6s linear infinite;
    animation: snow 6s linear infinite;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

thead{
    border: 1px solid #ec272c;
    tr{
        background-color: #ec272c;
        color: white;
    }
}
tbody{
    border: 1px solid lightgray;
    tr{
        color: gray;
    }
}
.logoShow{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.title_detail_event {
    margin-left: 20%;
}

/*home*/
.homeAdmin .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 400px;
    max-width: 400px;
}

.homeAdmin .card .img-fa {
    min-width: 100%;
    max-height: 150px;
    min-height: 150px;
    background-color: #ec3338;
}

.homeAdmin .card .img-fa .fa-comments,
.homeAdmin .card .img-fa .far,
.homeAdmin .card .img-fa .fas {
    font-size: 5em;
    padding-top: 50px;
    color: white;
}

.homeAdmin .card .card-title {
    min-height: 40px;
    max-height: 40px;
}

.homeAdmin .card .card-text {
    min-height: 110px;
    max-height: 110px;
}

.homeAdmin .card .badgeAdmin {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1em;


table {
    th {
        font-weight: bold;
    }

}