{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('company_index') }}"><i class="fas fa-chevron-circle-left fa-3x col-lg-2"></i></a>
            <h1 class="text-center col-lg-10">Modifier une compagnie</h1>
        </div>
    </div>


    {{ include('company/_form.html.twig', {'button_label': 'Modifier'}) }}



    {#{{ include('company/_delete_form.html.twig') }}#}
{% endblock %}
