{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid  text-center">
    <div class="row labocoin justify-content-center">
            <div class="row">
            <h2 class="col-12">Qu'est-ce que les Labocoins? </h2><br>
                <p class="col-12">Le Labocoin est une monnaie interne et unique. Le principe de cette monnaie est de remercier le Labonaute lorsqu'il participe à la vie Commune du Lab'O.</p>
            </div>
        <table class="col-12">
                <tbody>
                <tr>
                    <td> Dès l'Enregistrement, un nouveau contact se voit offert un cadeau de "Bienvenue" </td>
                    <td> 10 <img src="/images/gold.png" width="40px" height="40px"></td>
                </tr>
                <tr>
                    <td> A chaque participation à un Evènement du Lab'O le Labonaute se voit gratifié de quelques Coins</td>
                    <td>10 <img src="/images/gold.png" width="40px" height="40px"> </td>
                </tr>
                <tr>
                    <td> A chaque Evènement, la Lab'O requiert des réponses pour suivi, chaque réponse à un questionnaire se voit gratifié de quelques Coins</td>
                    <td> 20 <img src="/images/gold.png" width="40px" height="40px"> </td>
                </tr>
                </tbody>
        </table>
    </div>

    <div class="row labocoin2 justify-content-center">
        <div class="row">
            <h2 class="col-12">Comment les Utiliser ?</h2><br>
            <p class="col-12"> Les Labocoins sont stockable afin de les échanger contre des services du Lab'O à titre gratieux. Voici quelques exemples d'utilisation : </p>
        </div>
            <table class="col-12">
                <tbody>
                    <tr>
                        <td><img src="/images/shop/coffee.jpg" height="80px" ></td>
                        <td> Un Café </td>
                        <td>5 <img src="/images/gold.png" width="40px" height="40px"></td>
                    </tr>
                    <tr>
                        <td><img src="/images/shop/tea.png" height="80px" ></td>
                        <td>Un Thé</td>
                        <td>5 <img src="/images/gold.png" width="40px" height="40px"></td>
                    </tr>
                    <tr>
                        <td><img src="/images/shop/foodtruck.png" height="80px" ></td>
                        <td> Un Repas au Foodtruck </td>
                        <td> 15 <img src="/images/gold.png" width="40px" height="40px"></td>
                    </tr>
                    <tr>
                        <td><img src="/images/shop/zoe.png" height="80px" ></td>
                        <td> Location de Voiture à la journée </td>
                        <td> 20 <img src="/images/gold.png" width="40px" height="40px"></td>
                    </tr>
                    <tr>
                        <td><img src="/images/shop/ecran-tv.png" height="80px" ></td>
                        <td>Autopromo sur les écran du Labo pendant une semaine</td>
                        <td>30 <img src="/images/gold.png" width="40px" height="40px"></td>
                    </tr>
                    <tr>
                        <td><img src="/images/shop/salle.jpg" height="80px" ></td>
                        <td>Location d'une salle à la journée</td>
                        <td>50 <img src="/images/gold.png" width="40px" height="40px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>


{% endblock %}