{% extends 'base.html.twig' %}

{% block title %}New SatisfactionQuizz{% endblock %}

{% block body %}
    <div class="container">
    <h1>Répondez à notre quizz de satisfaction</h1>
    {{ include('satisfaction_quizz/_form.html.twig') }}
    </div>
{% endblock %}
