{% extends 'base.html.twig' %}

{% block title %}New SatisfactionQuizz{% endblock %}

{% block body %}
    <div class="container">
    <h1>Créer un nouveau questionnaire de satisfaction</h1>
    {{ include('satisfaction_quizz/_form.html.twig') }}
    {#<a href="{{ path('satisfaction_quizz_index') }}">back to list</a>#}
    </div>
{% endblock %}
